# Gradle-specific
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
**/out/

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Others
HELP.md
