services:
  email-sender-api:
    image: elleined/email-sender-api:${IMAGE_TAG}
    container_name: ${CONTAINER_NAME}
    restart: always
    ports:
      - '${PORT}:${PORT}'
    environment:
      - TZ=Asia/Manila
      - APP_NAME=${APP_NAME}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - MAX_FILE_SIZE_IN_MB=${MAX_FILE_SIZE_IN_MB}
      - PORT=${PORT}
      - LOG_LEVEL=${LOG_LEVEL}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - SPRING_OPENAPI_ENABLED=${SPRING_OPENAPI_ENABLED}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://${CONTAINER_NAME}:${PORT}/${CONTEXT_PATH}/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s